
body {
    margin: 0;
    line-height: normal;
}

.slide-169-1-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #b01a1a;
    background-image: url(/aece6ded1ebe512a6fc6822c1e9431f3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 1080px;
}
.image-1-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    object-fit: cover;
}
.slide-169-1-item {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.38);
    width: 1920px;
    height: 1080px;
}
.reach-your-limits {
    position: absolute;
    top: 269px;
    left: 631px;
    font-size: 64px;
    line-height: 85px;
    display: inline-block;
    font-family: Poppins;
    width: 658px;
}
.slide-169-1-inner {
    position: absolute;
    top: 720px;
    left: 643px;
    border: 3px solid #fff;
    box-sizing: border-box;
    width: 306px;
    height: 90px;
}
.lorem-ipsum-dolor {
    position: absolute;
    top: 573px;
    left: 516px;
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins;
    display: inline-block;
    width: 887px;
}
.rectangle-div {
    position: absolute;
    top: 720px;
    left: 971px;
    background-color: #dfa100;
    width: 306px;
    height: 90px;
}
.learn-more {
    position: absolute;
    top: 751px;
    left: 711px;
}
.join-now {
    position: absolute;
    top: 751px;
    left: 1057px;
}
.bxbxl-facebook-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.bxbxl-instagram-icon {
    position: absolute;
    top: 0px;
    left: 55px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.bitwitter-icon {
    position: absolute;
    top: 0px;
    left: 110px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.feathermail-icon {
    position: absolute;
    top: 0px;
    left: 165px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.bxbxl-facebook-parent {
    position: absolute;
    top: 990px;
    left: 1657px;
    width: 195px;
    height: 30px;
}
.social {
    position: absolute;
    top: 994px;
    left: 1497px;
    font-size: 18px;
    font-weight: 600;
}
.line-div {
    position: absolute;
    top: 1002px;
    left: 1583px;
    border-top: 6px solid #dfa100;
    box-sizing: border-box;
    width: 66px;
    height: 6px;
}
.slide-169-1-child1 {
    position: absolute;
    top: 1002px;
    left: 260px;
    border-top: 6px solid #dfa100;
    box-sizing: border-box;
    width: 106px;
    height: 6px;
}
.b {
    position: absolute;
    top: 990px;
    left: 217px;
    white-space: pre-wrap;
}
.group-icon {
    position: absolute;
    top: 985px;
    left: 68px;
    width: 40px;
    height: 40px;
}
.slide-169-1-child2 {
    position: absolute;
    top: 985px;
    left: 142px;
    width: 40px;
    height: 40px;
}
.bxbx-search-alt-2-icon {
    position: absolute;
    top: 0px;
    left: 65px;
    width: 35px;
    height: 35px;
    overflow: hidden;
}
.ant-designshopping-cart-outli-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35px;
    height: 35px;
    overflow: hidden;
}
.bxbx-search-alt-2-parent {
    position: absolute;
    top: 62px;
    left: 1756px;
    width: 100px;
    height: 35px;
}
.fitness-club {
    position: absolute;
    top: 65px;
    left: 123px;
    font-weight: 800;
    font-family: Rubik;
    background: linear-gradient(90deg, #ffb904, #00c2ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.standard-collection-26 {
    position: absolute;
    height: 4.49%;
    width: 2.29%;
    top: 5.09%;
    right: 94.17%;
    bottom: 90.42%;
    left: 3.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.home {
    position: absolute;
    top: 65px;
    left: 509px;
    color: #dfa100;
}
.store {
    position: absolute;
    top: 65px;
    left: 678px;
    font-weight: 600;
}
.blogs {
    position: absolute;
    top: 65px;
    left: 851px;
    font-weight: 600;
}
.about-us {
    position: absolute;
    top: 65px;
    left: 1028px;
    font-weight: 600;
}
.contact-us {
    position: absolute;
    top: 65px;
    left: 1249px;
    font-weight: 600;
}
.slide-169-1 {
    width: 100%;
    position: relative;
    box-shadow: 30px 30px 20px rgba(60, 83, 77, 0.5);
    background-color: #fff;
    height: 1080px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-family: Montserrat;
}

